
.pag1{
  background-color: green;
}
header{
  color: blue;
  font-size: 50px;
padding:10px;
  margin:10px;
text-shadow: 3px 5px 3px #e04;
  
}
.Y{
  color: green;
  font-size: 150px;
padding:20px;
 margin:20px ; 
  text-shadow: 3px 5px 3px red;
}
.ys{
 color: green;
  background-color: rgb(0 0 0 /50%);
font-size: 20px;
}
.ggg{
 background-color: blue;
}
.hhh{
  color: yellow;
}
.vi{
  background-color: green;
}
.fo{
  color: red;
  background-color: rgb(255,0,0,0.5);
}
.bo{
  border: 5px dashed red;
}
.jm{
    background: rgba(255, 255, 255, 0.2); /* لون أبيض شفاف */
    backdrop-filter: blur(10px); /* هذا هو سر التضبيب (الزجاج) */
    border: 1px solid rgba(255, 255, 255, 0.3); /* حواف خفيفة */
    padding: 20px;
    border-radius: 15px; /* حواف دائرية تجعل التصميم ناعماً */
}
